// Color variables
$white: #ffffff;
$lightGray:#cccccc;
$gray: #999999;
$darkGray: #666666;
$black: #000000;
$turquoise: #84ccd3;

//Typography - Font stacks - variables
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$webFontFamily: "Lato", sans-serif;